<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gestion des classes</title>
    <link rel="stylesheet" th:href="@{/css/Prof.css}">
</head>
<body>
<header>

    <div class="prof-form">
        <h1 id="prof">Gestion des classes</h1>
        <div class="action">
        <a href="/classes/nouveau">Créer une classe</a>
        <a href="/professeurs">Voir les professeurs</a>
        </div>

    </div>
</header>


<div class="prof-form">
    <div>
        <div class="prof-form">
            <h1 id="classedispo">Liste des Classes</h1>
        </div>
        <div>
            <table class="prof-table" th:if="${!listeClass.isEmpty()}">
                <tr>

                <div><th>Nom</th></div>
                <div><th>Professeurs</th></div>
                </tr>
                <tr th:each="classe: ${listeClass}">
                    <td><a th:href="@{/classes/{id}(id=${classe.id})}" th:text="${classe.nom}"></a></td>
                    <td><a th:href="@{/professeurs/{id}(id=${classe.professeur.id})}" th:text="${classe.professeur.nom}"></a></td>
                    <td class="action">
                        <a href="javascript:history.back()"><button>Retour</button></a>
                        <a th:href="@{classes/{id}/modifier(id=${classe.id})}"><button>Modifier</button></a>
                        <a th:href="@{classes/{id}/suprimer(id=${classe.id})}"><button>Supprimer</button></a>
                    </td>
                </tr>
            </table>


        </div>
    </div>
</div>
</body>

</html>