/* ================= BASE ================= */
body {

       background-image: url("/image/image.jpg") !important;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
}
