<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/Prof.css}">
</head>
<body>

<div class="prof-form">
    <h1 th:text="${professeur.nom}"></h1>
<div>
    <p th:text="${professeur.prenom}"></p>
</div>
    <div>
        <p th:text="${professeur.email}"></p>
    </div>
    <div>
        <a href="/professeurs"><button>Retour</button></a>
        <a th:href="@{/professeurs/{id}/modifier(id=${professeur.id})}">
            <button>Modifier</button>
        </a>
        <a th:href="@{/professeurs/{id}/supprimer(id=${professeur.id})}">
            <button>Supprimer</button>
        </a>
    </div>
    <!--- lister les classes du proff-->

     <div>
         <h1>Classes</h1>
         <table class="prof-table">
          <tr>
              <div><th>Identifiant</th></div>
              <div><th>Nombre d'éleves</div>
              <div><th>Matière</th></div>
              <div><th>Niveau</th></div>
              <div><th>Nom</th></div>

          </tr>
         <tr th:each="classe : ${professeur.classes}">
             <td th:text="${classe.id}"></td>
             <td th:text="${classe.nombreEleves}"></td>
             <td th:text="${classe.matière}"></td>
             <td th:text="${classe.niveau}"></td>
             <td th:text="${classe.nom}"></td>
         </tr>
         </table>
     </div>

</div>
</body>
</html>