<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/Prof.css}">
</head>
<body>

<div class="prof-form"  >
    <div>
      <div class="entete">
         <h1 th:text="${professeur.nom}"></h1>
         <h1 th:text="${professeur.prenom}"></h1>
      </div>
        <p th:text="${professeur.email}"></p>
    </div>

    <div>
        <a href="/professeurs"><button>Retour</button></a>
        <a th:href="@{/professeurs/{id}/modifier(id=${professeur.id})}">
            <button>Modifier</button>
        </a>
        <a th:href="@{/professeurs/{id}/supprimer(id=${professeur.id})}">
            <button>Supprimer</button>
        </a>
    </div>
    <!--- lister les classes du proff-->

     <div>
         <h1>Classes enseignées</h1>
         <table class="prof-table">
          <tr>
              <div><th>Identifiant</th></div>
              <div><th>Nombre d'éleves</div>
              <div><th>Matière</th></div>
              <div><th>Niveau</th></div>
              <div><th>Nom</th></div>

          </tr>
         <tr th:each="classe : ${professeur.classes}">
             <td th:text="${classe.id}"></td>
             <td th:text="${classe.nombreEleves}"></td>
             <td><a class="badge-matiere"
                    th:text="${classe.matière}"
                    th:style="'background-color:' + ${classe.couleurMatiere}"></a></td>
             <td th:text="${classe.niveau}"></td>
             <td><a th:href="@{/classes/{id}(id=${classe.id})}" th:text="${classe.nom}"></a></td>
         </tr>
         <tr>
              <div><th>Nombres total des classes enseignées</th></div>
              <div><th>Nombre total des éleves</th></div>
             <div><th>Moyenne de nombres d'éléves</th></div>
         </tr>
         <tr>
             <div><td th:text ="${nbreClassProf}"></td></div>
             <div><td th:text ="${nbreEleveProf}"></td></div>
             <div><td th:text ="${moyElvProf}"></td></div>
         </tr>
         </table>
     </div>

</div>
</body>
</html>