<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gestion des professeurs</title>
    <link rel="stylesheet" th:href="@{/css/Prof.css}">
</head>
<header>

    <div class="prof-form">
        <h1>Gestion des professeurs</h1>
        <div class="action">
            <a href="/professeurs/nouveau"><button class="action-entete">Créer un professeurs</button></a>
            <a href="/classes"><button class="action-entete">Voir les classes</button></a>
            <a href="/"><button class="action-entete">Accueil</button></a>
        </div>
    </div>
</header>


<div class="prof-form">
    <div>
        <div>
            <h1 class="entete-list" >Liste des professeurs</h1>
        </div>
        <div>
            <table class="prof-table" th:if="${!listeProfesseur.isEmpty()}">
                <tr>
                    <div><th>Nom</th></div>
                    <div><th>Prenom</th></div>
                    <div><th>Email</th></div>
                    <div><th>Actions</th></div>
                </tr>
                <tr th:each="professeur : ${listeProfesseur}">
                    <td th:text="${professeur.nom}"></td>
                    <td th:text="${professeur.prenom}"></td>
                    <td th:text="${professeur.email}"></td>
                    <td>
                        <a th:href="@{/professeurs/{id}(id=${professeur.id})}"><button>Detail</button></a>
                        <a th:href="@{professeurs/{id}/modifier(id=${professeur.id})}"><button>Modifier</button></a>
                        <a th:href="@{professeurs/{id}/supprimer(id=${professeur.id})}"><button class="supprimer">Supprimer</button></a>
                    </td>
                </tr>
                <tr>
                    <div><th>Nombre total de professeurs</th></div>
                </tr>
                <tr>
                    <div><td th:text ="${nbprof}"></td></div>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>

</html>